body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    color: #ffffff;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(255, 255, 255); text-decoration: none;}

.header {    
    padding: 10px 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img {
    height: 80px; /* Ajuste conforme necessário */
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-menu a:hover {
    color: bisque;
    font-weight: bolder;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
footer {
    padding: 20px;
    min-height: 500px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    font-weight: 500;  
}
.anchors li :hover {
    color: bisque;
    font-weight: bold;    
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}

.sidebar li :hover{
    color: bisque;
    font-weight: bold;
}
figure {
    text-align: center;
}

#section-atributos {
    display: flex;      
    justify-content: start
    
}

#atributos {
    text-align: center;
    font-weight: bold;
    width: 4em;    
    color: #ffffff;
    font-weight: 400;
    background-color: #242424;
    padding: 1em;    
    margin: 2px;
}

.grid-container {
    display: grid;
    width: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 5px; /* Espaço entre os itens */
    padding: 10px;
    margin-bottom: 20px;
}

.grid-item {
    width: 100px;
    color: #f9f9fb;
    background-color: #242424;
    border: 1px solid #3d3d3d;
    padding: 20px;
    text-align: center;
}

figure {
    width: 200px;
    margin: 0;
    padding: 0;
    align-items: start;
}

figcaption {
    width: 120px;
    align-items: start;
}
    

.flex-container {
    display: flex;
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px;
    margin-bottom: 20px;
}

.flex-item {
    background-color: #242424;
    border: 1px solid #3d3d3d;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.flex-container :hover {
    color: burlywood;    
}

.flex-container img :hover {
    opacity: 80%;
}

